@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-html {
  @apply scroll-smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.is-input {
  @apply -top-7 scale-75 opacity-100;
}
