@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-html {
  @apply scroll-smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.is-input {
  @apply -top-7 scale-75 opacity-100;
}

.paginate-container {
  @apply flex space-x-2 items-center;
}

.paginate-page-button {
  @apply px-2 py-1 bg-white dark:bg-neutral-800 text-black dark:text-white border border-slate-300 rounded shadow-md;
}

.paginate-activeLink {
  @apply bg-indigo-500 font-black dark:bg-neutral-900 dark:text-indigo-400 shadow-md;
}

.paginate-disabledLink {
  @apply text-slate-500 dark:text-slate-600 bg-slate-100 dark:bg-slate-900 dark:border-slate-700 shadow-none;
}
